/* Reset some default styles */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffbffd;
}

header {
    background-color: #9500ac;
    color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Hero section */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    text-align: center;
    padding: 4rem;
    color: #fff;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #b700ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #b700ff;
}

/* Booking form */
.booking-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.booking-form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.booking-form label {
    display: block;
    margin-bottom: 10px;
}

.booking-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

/* Facilities section */
.facilities {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.facilities h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.facility {
    display: flex;
    margin-bottom: 20px;
}

.facility img {
    max-width: 200px;
    margin-right: 20px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 100%;
    }

    main {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 100%;
    }

    img {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 100%;
    }

    section {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 100%;
    }

    nav ul {
        margin-top: 20px;
    }
}
